@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: beige; /* Cambia este valor al color que desees */
    }
</style>



<div class="text-center">
    <h1 style="font-size: 100px; font-weight: bold; font-family: 'Arial', sans-serif;">Bienvenido al Mundo del Peluche!</h1>
    <p>Explora nuestro Instagram <a href="https://www.instagram.com/elmundodelpeluche.ec/">El Mundo del Peluche</a>.</p>
<img src="https://elmundodelpeluche.com/wp-content/uploads/2023/05/logo.jpg" alt="" style="width: 700px; height: auto;" />
</div>

